<section id="featured-cases" class="bordered-y py-5 pt-sm-3 pb-sm-2">
	<div class="container center">
		<p class="hero-tag fog flex fx-align-center fx-just-center">
			<span class="blue dot-accent pre">:</span>
			<span class="sub-title pre">showcased work</span>
			<span class="blue dot-accent pre">:</span>
		</p>
		<h2 class="mb-2">Updated projects &dash; coming soon</h2>
		<div class="cards-grid flex fx-wrap fx-sm-col">
			<div class="fx-item-3 fx-item-sm-2 mb-2 mb-sm-0 px-1">
				<div class="card-wrap fx-item-3 fx-item-sm-2 mb-2 mb-sm-1 cursor-progress" style="--cursor-x: 0px; --cursor-y: 0px;">
					<div class="card flex px-2 py-2 py-xs-1 fx-just-center fx-align-center">
						<div>// coming soon</div>
					</div>
					<div class="card-bg"></div>
					<div class="card-highlight"></div>
				</div>
			</div>
			<div class="fx-item-3 fx-item-sm-2 mb-2 mb-sm-0 px-1">
				<div class="card-wrap fx-item-3 fx-item-sm-2 mb-2 mb-sm-1 cursor-progress" style="--cursor-x: 0px; --cursor-y: 0px;">
					<div class="card flex px-2 py-2 py-xs-1 fx-just-center fx-align-center">
						<div>// coming soon</div>
					</div>
					<div class="card-bg"></div>
					<div class="card-highlight"></div>
				</div>
			</div>
			<div class="fx-item-3 fx-item-sm-2 mb-2 mb-sm-0 px-1">
				<div class="card-wrap fx-item-3 fx-item-sm-2 mb-2 mb-sm-1 cursor-progress" style="--cursor-x: 0px; --cursor-y: 0px;">
					<div class="card flex px-2 py-2 py-xs-1 fx-just-center fx-align-center">
						<div>// coming soon</div>
					</div>
					<div class="card-bg"></div>
					<div class="card-highlight"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Fancy Card Markup Template -->
<!-- <div class="cards-grid">
	<div class="card-wrap" style="--cursor-x: 0px; --cursor-y: 0px;">
		<div class="card">// coming soon</div>
		<div class="card-bg"></div>
		<div class="card-highlight"></div>
	</div>
</div> -->