<header>
	<div class="container center white">
		<div class="flex fx-just-apart fx-align-center">
			<div id="logo">
				<a class="logo-link" rel="canonical" href="{{ site.url }}"> 
					<div class="memoji unselectable">
						<img class="headshot" src="/assets/eli-brumley-bw.png" alt="Eli Brumley Icon" />
					</div>
					<span>Eli Brumley</span>
				</a>
			</div>
			<nav class="mobile-hide">
				<ul>
					{% for item in site.data.menu %}
					<li class="{% if item.link == page.url %} active {% endif %} {{item.class}}">
						<a alt="Eli Brumley {{item.title}}" aria-label="{{item.title}}" href="{{item.link}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
			</nav> 
			<div class="social">
				<a class="social-item" aria-label="X link" href="{{ site.x_url }}" alt="X link" target="_blank">
					{% include_anywhere assets/x-icon.html %}
				</a>
				<a class="social-item" aria-label="Linkedin link" href="{{ site.linkedin_url }}" alt="Linkedin link" target="_blank">
					{% include_anywhere assets/linkedin-icon.html %}
				</a>
			</div>
			<div class="cta mobile-hide">
				<a class="btn" alt="Contact Eli Brumley" href="/contact" >Let's Chat</a>
			</div>
			<button class="hamburger mobile-show" title="Mobile Menu" aria-label="Mobile Menu">
				<span></span>
			</button>
		</div>
	</div>
</header>