<section id="hero" class="home pb-sm-0">
	<div class="container opening">
		<div class="home-statment flex fx-just-apart">
			<div class="statment">
				<p class="hero-tag fog">
					<span class="blue dot-accent pre">::</span>
					<span class="sub-title pre">Multifaceted, full stack designer</span>
				</p>
				<h1 class="hero-sub-title">Digital Excellence in Action: Transforming Designs into Real Growth<br></h1>
				<p class="intro">Over the last decade as a Lead UX Designer, I've mastered the art of merging creativity with data-driven insights. My focus? Crafting websites that dazzle visually and exceeds business objectives. With a background spanning digital marketing, SaaS, and B2B, coupled with my fervor for web development and <span class="tooltip" data-tooltip="Conversion Rate Optimization">CRO</span>, my journey has been dedicated to creating digital experiences that not only captivate but also drive substantial growth.</p>
				<div class="btn-grp">
					<a href="/assets/eli-brumley-resume.pdf" target="_blank" class="text-link">Latest Resume <span class="ar">></span></a>
					<!-- <a href="" class="text-link">Latest Projects <span class="ar">></span></a> -->
				</div>
			</div>
			<div class="three-d unselectable">
				<div id="cubes-pl"><img src="/assets/cubes-pl.png" /></div>
				<iframe id="cubes" class="lazyload" data-src='https://my.spline.design/cubic-ac40e24146c6613451bc15072a9a517c/' frameborder='0' width='100%' height='100%'></iframe>
				<div class="roles">
					<span>Lead UX Designer</span>
					<span>Web Developer</span>
					<span>CRO Manager</span>
				</div>
			</div>
		</div>
		<div id="client-slide" class="mt-5 mt-sm-3 mt-xs-2">
			<p class="hero-tag fog mb-3 mb-sm-2">
				<span class="blue dot-accent pre">::</span>
				<span class="sub-title pre">I’ve served some kickass clients</span>
			</p>
			<div class="client-slide-set"> 
				<ul class="set unselectable">
					<li class="md">{% include_relative assets/sumo-logic-logo.html %}</li>
					<li class="xl">{% include_relative assets/ryan-rose-logo.html %}</li>
					<li class="md">{% include_relative assets/plaidpixel-logo.html %}</li>
					<li class="">{% include_relative assets/smartbear-logo.html %}</li>
					<li class="xxxl">{% include_relative assets/cbu-logo.html %}</li>
					<li class="">{% include_relative assets/codepen-logo.html %}</li>
					<li class="md">{% include_relative assets/guidetech-logo.html %}</li>
					<li class="xl">{% include_relative assets/pbs-logo.html %}</li>
					<li class="lg">{% include_relative assets/homewood-logo.html %}</li>
					<li class="lg">{% include_relative assets/bitbar-logo.html %}</li>
					<li class="lg">{% include_relative assets/dixon-logo.html %}</li>
					<li class="xxl">{% include_relative assets/x-estates-logo.html %}</li>
					<li class="">{% include_relative assets/hotelhelp-logo.html %}</li>
					<li class="">{% include_relative assets/kalin-marie-logo.html %}</li>
					<li class="xxxl">{% include_relative assets/memphis-zoo-logo.html %}</li>
					<li class="lg">{% include_relative assets/kubeshop-logo.html %}</li>
					<li class="lg">{% include_relative assets/zephyr-logo.html %}</li>
					<li class="xxxl">{% include_relative assets/speak-logo.html %}</li>
					<li class="lg">{% include_relative assets/loadninja-logo.html %}</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
const cubesPlaceholder = document.getElementById("cubes-pl");
const cubesIframe = document.getElementById("cubes");

cubesIframe.addEventListener("load", () => {
  cubesPlaceholder.style.display = "none";
});
</script>
